@font-face {
    font-family: ProximaNovaBold;
    src: url("../fonts/ProximaNovaBold.otf");
}
@font-face {
    font-family: ProximaNovaLight;
    src: url("../fonts/ProximaNovaLight.otf");
}
@font-face {
    font-family: ProximaNovaRegular;
    src: url("../fonts/ProximaNovaRegular.otf");
}
@font-face {
    font-family: ProximaNovaSemibold;
    src: url("../fonts/ProximaNovaSemibold.otf");
}
@font-face {
    font-family: ProximaNovaThin;
    src: url("../fonts/ProximaNovaThin.otf");
}
@font-face {
    font-family: SupermolotLight;
    src: url("../fonts/SupermolotLight.otf");
}